<div id="content">
  <div class="row"></div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <sa-widget>
          <header>
            <h2>Add Shop</h2>
          </header>
          <div class="widget-body">
            <div class="widget-body no-padding">
              <form [formGroup]="newShopForm" class="smart-form">
                <fieldset>
                  <div class="row">
                    <section class="col col-6">
                      <label>Application</label>
                      <select name="applicationList" #applicationList (change)="onApplicationSelect(applicationList.value)" class="form-control">
                        <option></option>
                        <option *ngFor="let app of applications" value="{{app.id}}">{{app.application_name}}</option>
                      </select>
                    </section>
                    <section class="col col-6">
                      <label>Shop Name</label>
                      <input type="text" class="form-control" name="shopName" formControlName="shopName">
                    </section>
                    <section class="col col-6">
                      <label>About Shop</label>
                      <input type="text" class="form-control" name="aboutShop" formControlName="aboutShop">
                    </section>
                    <section class="col col-6">
                      <label>Shop Code</label>
                      <input type="text" class="form-control" name="shopCode" formControlName="shopCode">
                    </section>
                    <section class="col col-6">
                      <label>Seller KYC Type</label>
                      <select class="form-control" #kycDocList (change)="onKycDocTypeSelect(kycDocList.value)" name="sellerKycType">
                        <option></option>
                        <option *ngFor="let kycDoc of kycDocList" value="{{kycDoc}}">{{kycDoc}}</option>
                      </select>
                    </section>
                    <section class="col col-6">
                      <label>Seller KYC Number/Id</label>
                      <input type="text" class="form-control" name="sellerKycValue" formControlName="sellerKycValue">
                    </section>
                  </div>
                  <button type="submit" class="btn btn-success" (click)="addNewShop()">Create Shop</button>
                </fieldset>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>