<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Broadcaster', 'Journal Manager']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget>

                    <header>
                        <span class="widget-icon"></span>
                        <h2>Journal Active </h2>

                    </header>
                    <div>
                        <!--(change)="onBroadcasterSelect(broadcasterName.value,true)"-->
                        <form novalidate class="smart-form" [formGroup]="journalManagerForm">

                            <fieldset>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">Broadcasters</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-tv"></i>

                                            <select class="form-control" formControlName="jbroadcasterId" name="jbroadcasterId" #jbroadcasterId (change)="getChannels(jbroadcasterId.value)">

                                                <option *ngFor="let broadcaster of broadcasters" value="{{broadcaster.id}}">{{broadcaster.broadcaster_name}}</option>
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">Choose Broadcaster</b>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">Channels</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-tv"></i>

                                            <select class="form-control" formControlName="jchannelId" name="jchannelId" #jchannelId (change)="onChannelSelect()">

                                                <option *ngFor="let channel of broadcasterChannels" value="{{channel.id}}">{{channel.channel_name}}</option>
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">Choose Channel</b>
                                        </label>
                                    </section>
                                </div>
                                <section>
                                    <h3>Journal List</h3>
                                    <div class="row">
                                        <!-- <label id="lbl1">{{first_name}}</label> -->
                                        <section *ngFor="let journal of journalList" class="col col-4">
                                            <label id="lbl1">{{journal.first_name}}</label>
                                            <label>Status:</label>
                                            <label id="lbl4" style="padding-bottom: 4px;" [style.color]="journal.onlineStatus == 'online' ? 'Green' : 'red'">{{journal.onlineStatus}}</label>
                                            <br>
                                    
                                            <!-- <section *ngFor="let jou of finalUrl"  ng-repeat="urlin finalUrl track by $index"> -->
                                            <video id="preview_8_html5_api" class="video-js vjs-default-skin vjs-big-play-centered" width="200" height="150" data-setup='{ "controls": true, "autoplay": false,
                                                     "preload": "auto","techOrder": ["youtube","html5", "flash"] }' poster={{journal.thumbnailUrl}}>


                                                <source src={{journal.hlsurl}} type="application/x-mpegURL">
                                            </video>
                                
                                            <!-- <button type="submit" class="btn btn-success" (click)="previewVideo()">Show</button> -->
                                            <table>
                                            <tr><td><strong>Hls</strong></td><td> 
                                             <label id="lbl5"  style="padding-top: 4px;"[style.color]="journal.hlsurl == 'OffLine' ? 'red' : 'green'">:{{journal.hlsurl}}</label>
                                        </td></tr>
                                                    
                                        <tr><td><strong>Rtmp</strong></td><td>
                                            <label id="lbl5" [style.color]="journal.rtmpurl == 'OffLine' ? 'red' : 'green'">:{{journal.rtmpurl}}</label>
                                        </td></tr>

                                        <tr><td><strong>Rtsp</strong></td><td>
                                                <label id="lbl5" [style.color]="journal.rtspurl == 'OffLine' ? 'red' : 'green'">:{{journal.rtspurl}}</label>
                                            </td></tr>
                                                    
                                                    </table>
                                                    
                                        </section>
                                    </div>
                                    <div class="row">

                                        <section class="col col-12">
                                                <h3>Preview Video:</h3>
                                            <!-- <button type="submit" #preview_8_html5_api class="btn btn-success" (click)="previewVideo()">Show</button> -->
                                
                                            <video id="preview_8_html5_api" style="padding-top: 4px;" class="video-js vjs-default-skin vjs-big-play-centered" width="1024" height="400" data-setup='{ "controls": true, "autoplay": false, "preload": "auto","techOrder": ["youtube","html5", "flash"] }'>
                                            </video>
                                        </section>


                                    </div>


                                </section>


                            </fieldset>






                        </form>
                    </div>


                </sa-widget>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->

    </sa-widgets-grid>
    <!-- end widget grid -->
</div>