<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Admin', 'Add Destination']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <sa-widgets-grid>
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <sa-widget>
                    <header>
                        <!-- <span class="widget-icon"></span> -->
                        <h2>Destination Details </h2>
                        <div class="widget-toolbar">
                            <button class="btn" (click)="hideChannelCreate()">
                                <span class="">
                                    <i class="fa fa-plus-square"></i>
                                </span>
                                <span>Add New</span>
                            </button>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="widget-body no-padding">
                                <sa-datatable (click)="hidechannelUpdate()" [options]="{
                            data:bDestination,
                 columns: [
                 {data:'id'},
                 {data:'d_id'},
                 {data:'destination_name'},
                 {data:'broadcaster_channel_id'},
                 {data:'is_active'}
                 ],
                 buttons: [
                 'colvis'
                 ]
                 }" (sendChannelRecord)="getAddDestinationRecord($event)" tableClass="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th data-class="expand">Id</th>
                                            <th data-class="expand">Destination Id</th>
                                            <th data-class="expand">Destination Name</th>
                                            <th data-class="expand">Channel Id</th>
                                            <th data-class="expand">Status</th>
                                        </tr>
                                    </thead>
                                </sa-datatable>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
        <div class="row" *ngIf="isVisible">
            <div class="col-sm-12">
                <sa-widgets-grid id="widget-cat-detail">
                    <div class="row">
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <sa-widget>
                                <header>
                                    <h2>Add Broadcaster Destination </h2>
                                </header>
                                <div class="widget-body">
                                    <div class="widget-body no-padding">
                                        <form [formGroup]="destinationForm" class="smart-form">
                                            <fieldset>
                                                <div class="row">
                                                    <section *ngIf="createButton" class="col col-3">
                                                        <label>Broadcaster</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-tv"></i>
                                                            <select class="form-control" name="broadcasterList" formControlName="broadcaster_id" #broadcastersList (change)="getBroadcasterChannels(broadcastersList.value)">
                                                                <option></option>
                                                                <option *ngFor="let broadcaster of broadcasters" value="{{broadcaster.id}}">{{broadcaster.broadcaster_channel_name}}</option>
                                                            </select>
                                                            <b class="tooltip tooltip-bottom-right">Choose Broadcaster</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label>Channel</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-tv"></i>
                                                            <select class="form-control" name="channelList" #channelsList formControlName="broadcaster_channel_id" (change)="onChannelSelect(channelsList.value)">
                                                                <option></option>
                                                                <option *ngFor="let channel of broadcasterChannels" value="{{channel.id}},{{channel.channel_name}}">{{channel.channel_name}}</option>
                                                            </select>
                                                            <b class="tooltip tooltip-bottom-right">Choose channel</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div *ngIf="createButton" class="row">
                                                    <section class="col col-3">
                                                        <label>Destination</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-send"></i>
                                                            <select class="form-control" name="broadcasterDestination" #broadcasterDestination formControlName="destination_name" (change)="onDestinationIdSelect(broadcasterDestination.value)">
                                                                <option></option>
                                                                <option *ngFor="let destination of destinations" value="{{destination.id}},{{destination.destination}}">{{destination.destination}}</option>
                                                            </select>
                                                            <b class="tooltip tooltip-bottom-right">Choose Destination</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div *ngIf="updateButton" class="row">
                                                    <section class="col col-3">
                                                        <label>Destination</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-send"></i>
                                                            <select class="form-control" name="broadcasterDestination" #broadcasterDestination formControlName="destination_name">
                                                                <option></option>
                                                                <option *ngFor="let destination of bDestination" value="{{destination.id}}">{{destination.destination_name}}</option>
                                                            </select>
                                                            <b class="tooltip tooltip-bottom-right">Choose Destination</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label>Status</label>
                                                        <select class="form-control" name="userActiveStatus" formControlName="is_active">
                                                            <option></option>
                                                            <option value="true">Active</option>
                                                            <option value="false">Passive</option>
                                                        </select>
                                                    </section>
                                                </div>
                                            </fieldset>
                                            <footer>
                                                <div class="form-group">
                                               <button  class="btn btn-success"  type="submit" name="destination" *ngIf="createButton" (click)="createbroadcasterdestination()">Save</button>
                                               <button  class="btn btn-success"  type="submit" name="updateDestination" *ngIf="updateButton" (click)="updateBroadcasterDestination()">Save</button>                                               
                                               <button class="btn btn-danger" type="submit" name="cancelDestination" (click)="cancel()">Cancel</button>                                 
                                                </div>
                                            </footer>    
                                        </form>
                                    </div>
                                </div>
                            </sa-widget>
                        </article>
                    </div>
                </sa-widgets-grid>
            </div>
        </div>
    </sa-widgets-grid>
</div>