<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Broadcaster', 'Channel-Record']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget>

                    <header>
                        <span class="widget-icon"></span>
                        <h2>Channel Record</h2>

                    </header>
                    <div>
                        <!--(change)="onBroadcasterSelect(broadcasterName.value,true)"-->
                        <form novalidate class="smart-form" [formGroup]="channelRecordForm">

                            <fieldset>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">Broadcasters</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-tv"></i>

                                            <select class="form-control" formControlName="jbroadcasterId" name="jbroadcasterId" #jbroadcasterId (change)=" getAllBroadcastersById(jbroadcasterId.value)">

                                                <option *ngFor="let broadcaster of broadcasters" value="{{broadcaster.id}}">{{broadcaster.broadcaster_name}}</option>
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">Choose Broadcaster</b>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">Channels</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-tv"></i>

                                            <select class="form-control" formControlName="jchannelId" name="jchannelId" #jchannelId (change)="getChannels(jchannelId.value)">

                                                <option *ngFor="let channel of broadcasterChannels" value="{{channel.id}}">{{channel.channel_name}}</option>
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">Choose Channel</b>
                                        </label>
                                    </section>
                                </div>
                                <section>
                                    <h3>channel List</h3>
                                    <div class="row">

                                        <section *ngFor="let channel of broadcasterChannels" class="col col-4">
                                            <br>
                                            <div style="padding-bottom:5px;text-align:left">
                                                <label id="lbl1">{{channel.channel_name}}</label>
                                                <button type="submit" class="btn btn-success" (click)="previewVideo()">Preview</button>
                                                <br>

                                            </div>
                                            <video id="preview_8_html5_api" class="video-js vjs-default-skin vjs-big-play-centered" width="200" height="150" data-setup='{ "controls": true, "autoplay": true, "preload": "auto","techOrder": ["youtube","html5", "flash"] }'
                                                poster="{{thumbnailUrl}}">
                                                <source src="{{channel.finalUrl}}" type='application/x-mpegURL'>
                                            </video>
                                            <div style="padding-top:5px">
                                                <button type="submit" class="btn btn-success" style="background:rgb(33, 88, 36); color:white" (click)="startRecording()">start</button>
                                                <button type="submit" class="btn btn-success" style="background:rgb(247, 50, 50); color:white" (click)="stopRecording()">stop</button>

                                            </div>

                                        </section>
                                    </div>
                                    <div class="row">

                                        <section class="col col-12">
                                            <h3 style="padding-top: 4px;">Preview Video:</h3>
                                            <!-- <button type="submit" #preview_8_html5_api class="btn btn-success" (click)="previewVideo()">Show</button> -->

                                            <video id="preview_8_html5_api" style="padding-top: 4px;" class="video-js vjs-default-skin vjs-big-play-centered" width="1024"
                                                height="400" data-setup='{ "controls": true, "autoplay": false, "preload": "auto","techOrder": ["youtube","html5", "flash"] }'>
                                            </video>
                                        </section>
                                    </div>
                                </section>
                            </fieldset>
                        </form>
                    </div>


                </sa-widget>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->

    </sa-widgets-grid>
    <!-- end widget grid -->
</div>