<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Admin', 'Broadcaster']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget>
                    <!-- widget options:
              usage: <sa-widget id="wid-id-0" [editbutton]="false">
              [colorbutton]="false"
              [editbutton]="false"
              [togglebutton]="false"
              [deletebutton]="false"
              [fullscreenbutton]="false"
              [custombutton]="false"
              [collapsed]="true"
              [sortable]="false"
          -->
                    <header>
                        <span class="widget-icon"></span>
                        <h2>Add Broadcaster </h2>
                        <div class="widget-toolbar">
                            <!--<button class="btn"><span class=""><i class="fa fa-plus-square"></i> </span><span>Import</span></button>-->
                            <button class="btn"><span class=""><i class="fa fa-plus-square"></i> </span><span>Add New</span></button>
                        </div>
                    </header>
                   
                   
                   
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <!-- this is what the user will see -->
                            <div class="widget-body no-padding">

                                 <sa-datatable [options]="{
                            data: broacasterall,
                 columns: [
                 {data:'id'},
                 {data:'broadcaster_name'},
                 {data:'broadcaster_channel_name'},
                 {data:'broadcaster_email'},
                 {data:'w_application_name'},
                 {data:'state_code'}
                 ],
                 buttons: [
                 'colvis'
                 ]
                 }" tableClass="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th data-class="expand">Id</th>
                                            <th data-class="expand">Broadcaster Name</th>
                                            <th data-class="expand">Channel Name</th> 
                                             <th data-class="expand">Category Name</th> 
                                             <th data-class="expand">Email</th> 
                                             <th data-class="expand">Application Name</th> 
                                             <th data-class="expand">State,City</th>
                                             <th data-class="expand">Video URL</th>
                                            <!-- <th data-class="expand">YouTube Key</th>
                                            <th data-class="expand">FaceBook Key</th>
                                            <th data-class="expand">Haappyapp Key</th>  -->
                                         </tr>
                                    </thead>
                                </sa-datatable>

                            </div>
                        </div> 
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
       
       
        <!-- row -->
        <div class="row">
            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
                <!-- widget grid -->
                <sa-widgets-grid id="widget-cat-detail">
                    <!-- row -->
                    <div class="row">
                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <!-- Widget ID (each widget will need unique ID)-->
                            <sa-widget>

                                <header>
                                    <span class="widget-icon"></span>
                                    <h2>Broadcaster Details </h2>
                                </header>
                                <!-- widget div-->
                                <div>
                                    <!-- widget content -->
                                    <form [formGroup]="broadcasterForm" novalidate class="smart-form">

                                        <fieldset>

                                            <div class="row">
                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                    <input class="form-control" type="text" name="broadcasterNamecontrol" placeholder="Broadcaster Name" formControlName="broadcasterNamecontrol">
                                    <b class="tooltip tooltip-bottom-right">Broadcaster Name</b>
                                </label>
                                                    <p *ngIf="broadcasterForm.controls.broadcasterNamecontrol.errors" style="color:red;">*</p>
                                                </section>
                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                <input class="form-control" type="text" name="broadcasterDescriptionControl" placeholder=" Broadcaster Description" formControlName="broadcasterDescriptionControl">
                                <b class="tooltip tooltip-bottom-right">Broadcaster Description</b>
                            </label>
                                                </section>

                                                <section class="col col-4">

                                                    <label class="input">
          <i class="icon-append fa fa-television"></i>
          
          <!--(change)="onDestinationSelect()"-->
          <select class="form-control" formControlName="broadcasterChannelCategoryControl" name="broadcasterChannelCategoryControl" #broadcasterChannelCategoryControl   >
            <option *ngFor="let channelCategory of channelCategories" value="{{channelCategory.id}}">{{channelCategory.category_name}}</option>
          </select>
        <b class="tooltip tooltip-bottom-right">Choose Category</b>
        </label>
                                                </section>


                                            </div>
                                            <div class="row">
                                                <section class="col col-4">

                                                    <label class="input">
          <i class="icon-append fa fa-globe"></i>
          
          
          <select class="form-control" formControlName="broadcasterLanguageControl" name="broadcasterLanguageControl" #broadcasterLanguageControl>
            <option *ngFor="let language of languages" value="{{language.id}}">{{language.lang_name}}</option>
          </select>
        <b class="tooltip tooltip-bottom-right">Choose Language</b>
        </label>
                                                </section>


                                                <section class="col col-4">

                                                    <label class="input">
          <i class="icon-append fa fa-globe"></i>
          
          <!--(change)="onDestinationSelect()"-->
          <select class="form-control" formControlName="broadcasterCountryControl" name="broadcasterCountryControl" #broadcasterCountryControl (change)="getState(broadcasterCountryControl.value)">
            <option *ngFor="let country of countries" value="{{country.id}}">{{country.country_name}}</option>
          </select>
        <b class="tooltip tooltip-bottom-right">Choose Country</b>
        </label>
                                                </section>

                                                <section class="col col-4">

                                                    <label class="input">
          <i class="icon-append fa fa-globe"></i>
          
          <!--(change)="onDestinationSelect()"-->
          <select class="form-control" formControlName="broadcasterStateControl" name="broadcasterStateControl" #broadcasterStateControl (change)="getCity(broadcasterStateControl.value)"   >
            <option *ngFor="let state of states" value="{{state.id}}">{{state.state_name}}</option>
          </select>
        <b class="tooltip tooltip-bottom-right">Choose State</b>
        </label>
                                                </section>


                                            </div>

                                            <div class="row">

                                                <section class="col col-4">

                                                    <label class="input">
          <i class="icon-append fa fa-globe"></i>
          
          <!--(change)="onDestinationSelect()"-->
          <select class="form-control" formControlName="broadcasterCityControl" name="broadcasterCityControl" #broadcasterCityControl   >
            <option *ngFor="let city of cities" value="{{city.id}}">{{city.city_name}}</option>
          </select>
        <b class="tooltip tooltip-bottom-right">Choose City</b>
        </label>
                                                </section>

                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                <input class="form-control" type="text" name="broadcasterPrimaryChannelControl" placeholder=" Primary Channel Name" formControlName="broadcasterPrimaryChannelControl" >
                                <b class="tooltip tooltip-bottom-right">Primary Channel Name</b>
                            </label>
                                                    <p *ngIf="broadcasterForm.controls.broadcasterPrimaryChannelControl.errors" style="color:red;">*</p>
                                                </section>

                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-envelope"></i>
                                <input class="form-control" type="email" name="broadcasterEmailControl" placeholder=" E-Mail" formControlName="broadcasterEmailControl">
                                <b class="tooltip tooltip-bottom-right">Broadcaster E-mail</b>
                            </label>
                                                    <p *ngIf="broadcasterForm.controls.broadcasterEmailControl.errors" style="color:red;">*</p>
                                                </section>




                                            </div>
                                            <div class="row">

                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-chrome"></i>
                                <input class="form-control" type="text" name="broadcasterWebsiteControl" placeholder="Website" formControlName="broadcasterWebsiteControl">
                                <b class="tooltip tooltip-bottom-right">Broadcaster Website</b>
                            </label>
                                                </section>

                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-upload"></i>
                                <!-- <input type="file" class="form-control" name="single" ng2FileSelect  /> -->
                            </label>
                                                </section>

                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-tag"></i>
                                <input class="form-control" type="text" name="broadcasterTagControl" placeholder="Tag" formControlName="broadcasterTagControl">
                                <b class="tooltip tooltip-bottom-right">Broadcaster Tag</b>
                            </label>
                                                </section>
</div>

                                            <div class="row">
                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-map-marker"></i>
                                <input class="form-control" type="text" name="broadcasterLatitudeControl" placeholder="Latitude" formControlName="broadcasterLatitudeControl">
                                <b class="tooltip tooltip-bottom-right">Broadcaster Latitude</b>
                            </label>
                                                    <p *ngIf="broadcasterForm.controls.broadcasterLatitudeControl.errors" style="color:red;">*</p>
                                                </section>
                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-map-marker"></i>
                                <input class="form-control" type="text" name="broadcasterLongtitudeControl" placeholder="Longtitude" formControlName="broadcasterLongtitudeControl">
                                <b class="tooltip tooltip-bottom-right">Broadcaster Longtitude</b>
                            </label>
                                                    <p *ngIf="broadcasterForm.controls.broadcasterLongtitudeControl.errors" style="color:red;">*</p>
                                                </section>


                                                <section class="col col-4">
                                                    <!-- <label class="label">Channel Category</label> -->
                                                    <label class="input">
          <i class="icon-append fa fa-file"></i>
          
          <!--(change)="onDestinationSelect()"-->
          <select class="form-control" formControlName="broadcasterDocumentTypeControl" name="broadcasterDocumentTypeControl" #broadcasterDocumentTypeControl>
            <option *ngFor="let document of documents" value="{{document.id}}">{{document.document_name}}</option>
          </select>
        <b class="tooltip tooltip-bottom-right">Choose DocumentType</b>
        </label>
                                                </section>

                                                <!-- <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-file"></i>
                                <input class="form-control" type="text" name="broadcasterDocumentTypeControl" placeholder="Document Type" formControlName="broadcasterDocumentTypeControl">
                                <b class="tooltip tooltip-bottom-right">Document Type</b>
                            </label>
                                                </section> -->





                                            </div>

                                            <div class="row">
                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-file"></i>
                                <input class="form-control" type="text" name="broadcasterDocumenttextControl" placeholder="Document text" formControlName="broadcasterDocumenttextControl">
                                <b class="tooltip tooltip-bottom-right">Document Text</b>
                            </label>
                                                </section>

                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-server"></i>
                                <input class="form-control" type="text" name="broadcasterPubDNSControl" placeholder="Public DNS" formControlName="broadcasterPubDNSControl">
                                <b class="tooltip tooltip-bottom-right">Public DNS Name</b>
                            </label>
                                                </section>

                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-server"></i>
                                <input class="form-control" type="text" name="broadcasterPrivateDNSControl" placeholder="Private DNS" formControlName="broadcasterPrivateDNSControl">
                                <b class="tooltip tooltip-bottom-right">Private DNS Name</b>
                            </label>
                                                </section>



                                            </div>
                                            <div class="row">
                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-feed"></i>
                                <input class="form-control" type="text" name="broadcasterWApplicationControl" placeholder="Application Name" formControlName="broadcasterWApplicationControl" readonly >
                                <b class="tooltip tooltip-bottom-right">W-Appication Name</b>
                            </label>
                                                    <p *ngIf="broadcasterForm.controls.broadcasterWApplicationControl.errors" style="color:red;">*</p>
                                                </section>
                                                <section class="col col-4">

                                                    <label class="input">
          <i class="icon-append fa fa-globe"></i>
          
          <!--(change)="onDestinationSelect()"-->
          <select class="form-control" formControlName="broadcasterRankControl" name="broadcasterRankControl" #broadcasterRankControl>
            <option *ngFor="let rank of ranks" value="{{rank.display_value}}">{{rank.display_value}}</option>
          </select>
        <b class="tooltip tooltip-bottom-right">Choose Rank</b>
        </label>
                                                </section>
                                                <section class="col col-md-4">
                                                    <label class="input"> <i class="icon-prepend fa fa-flag"></i>
                  <select class="form-control" name="broadcasterStatusControl" formControlName="broadcasterStatusControl">
                    <option>Choose Status</option>
                    <option value="true">Active</option>
                    <option value="false">Passive</option>
                </select>
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer>

                                            <button type="submit" class="btn btn-success" [disabled]="!broadcasterForm.valid" (click)="createBroadcasterOnBoardFlow()">Save</button>
                                            <!-- <button type="submit" class="btn btn-primary" [disabled]="!broadcasterForm.valid" (click)="amendCategory()">Cancel</button> -->
                                        </footer>

                                    </form>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </sa-widget>
                            <!-- end widget -->
                        </article>
                        <!-- WIDGET END -->
                    </div>
                    <!-- end row -->

                </sa-widgets-grid>
                <!-- end widget grid -->
            </div>
        </div>
        <!-- end row -->
    </sa-widgets-grid>
    <!-- end widget grid -->
    
</div>