<div id="content">
  <div class="row"></div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <sa-widget>
          <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <sa-widget>
                <header>
                  <!-- <span class="widget-icon"></span> -->
                  <h2>Channel </h2>
                  <div class="widget-toolbar">
                    <button class="btn" (click)="hideChannelCreate()">
                      <span class="">
                        <i class="fa fa-plus-square"></i>
                      </span>
                      <span>Add New</span>
                    </button>
                  </div>
                </header>
                <div>
                  <div class="widget-body">
                    <div class="widget-body no-padding">
                      <sa-datatable (click)="hidechannelUpdate()" [options]="{
                            data:channels,
                 columns: [
                 {data:'id'},
                 {data:'channel_name'},
                 {data:'is_active'}
                 ],
                 buttons: [
                 'colvis'
                 ]                
                 }" (sendChannelRecord)="getChannelRecord($event)" tableClass="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th data-class="expand">Id</th>
                            <th data-class="expand">Channel Name</th>
                            <th data-class="expand">Status</th>
                          </tr>
                        </thead>
                      </sa-datatable>
                    </div>
                  </div>
                </div>
              </sa-widget>
            </article>
          </div>
          <div class="row" *ngIf="visible">
            <div class="col-sm-12">
              <sa-widgets-grid id="widget-cat-detail">
                <div class="row">
                  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <sa-widget>
                      <header>
                        <h2>Channel Manager</h2>
                      </header>
                      <div class="widget-body">
                        <div class="widget-body no-padding">
                          <form [formGroup]="newChannelForm" class="smart-form">
                            <fieldset>
                              <div class="row">
                                <section *ngIf="superAdminUser" class="col col-4">
                                  <select class="form-control" name="broadcastersList" formControlName="broadcaster_id" #broadcasterList (change)="onBroadcasterSelect(broadcasterList.value)">
                                    <option>Select Broadcasters</option>
                                    <option *ngFor="let broadcaster of broadcasters" value="{{broadcaster.id}}">{{broadcaster.broadcaster_name}}</option>
                                  </select>
                                </section>
                                <section class="col col-4">
                                  <select class="form-control" name="categorysList" formControlName="category_id" #categoryList (change)="onCategorySelect(categoryList.value)">
                                    <option>Select Category</option>
                                    <option *ngFor="let category of channelCategories" value="{{category.id}}">{{category.category_name}}</option>
                                  </select>
                                </section>
                                <section class="col col-4">
                                  <select class="form-control" name="languagesList" formControlName="language_id" #languageList (change)="onLanguageSelect(languageList.value)">
                                    <option>Select Language</option>
                                    <option *ngFor="let language of languages" value="{{language.id}}">{{language.lang_name}}</option>
                                  </select>
                                </section>
                                <section class="col col-4">
                                  <label class="input">
                                    <i class="icon-prepend fa fa-pencil-square-o"></i>
                                    <input type="text" name="channelName" placeholder="Channel Name" class="form-control" formControlName="channel_name">
                                  </label>
                                </section>
                                <section class="col col-4">
                                  <label class="input">
                                    <i class="icon-prepend fa fa-pencil-square-o"></i>
                                    <input type="text" name="channelDescription" placeholder="Channel Description" class="form-control" formControlName="channel_description">
                                  </label>
                                </section>
                                <section class="col col-4">
                                  <select class="form-control" name="isHD" formControlName="is_hd" #hd (change)="onHDSelect(hd.value)">
                                    <option>Is this HD channel?</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                  </select>
                                </section>
                                <section class="col col-4">
                                  <select class="form-control" name="isActive" formControlName="status" #status (change)="onStatusSelect(status.value)">
                                    <option></option>
                                    <option value="true">Active</option>
                                    <option value="false">Passive</option>
                                  </select>
                                </section>
                              </div>
                              <footer>
                                <button class="btn btn-success" type="submit" name="newChannel" *ngIf="createButton" (click)="createNewChannel()">Save</button>
                                <button class="btn btn-success" type="submit" name="updateChannel" *ngIf="updateButton" (click)="updateChannel()">Save</button>
                                <button class="btn btn-danger" type="submit" name="cancel" (click)="cancel()">Cancel</button>
                              </footer>
                            </fieldset>
                          </form>
                        </div>
                      </div>
                    </sa-widget>
                  </article>
                </div>
              </sa-widgets-grid>
            </div>