<div id="content">
  <div class="row"></div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <sa-widget>
          <header>
            <h2>Journal Settings</h2>
          </header>
          <div class="widget-body">
            <div class="widget-body no-padding">
              <form [formGroup]="journalSettingForm" class="smart-form">
                <fieldset>
                  <div class="row">
                    <section *ngIf="superAdminUser" class="col col-4">
                      <label>Select Broadcaster</label>
                      <select class="form-control" name="broadcasterList" #broadcastersList (change)="getBroadcasterChannels(broadcastersList.value)">
                        <option></option>
                        <option *ngFor="let broadcaster of broadcasters" value="{{broadcaster.id}}">{{broadcaster.broadcaster_channel_name}}</option>
                      </select>
                    </section>
                    <section class="col col-4">
                      <label>Select Channels</label>
                      <select class="form-control" name="channelList" #channelsList (change)="getJournalsByChannelId(channelsList.value)">
                        <option></option>
                        <option *ngFor="let channel of broadcasterChannels" value="{{channel.id}}">{{channel.channel_name}}</option>
                      </select>
                    </section>
                    <section class="col col-4">
                      <label>Select Journal</label>
                      <select class="form-control" name="journalList" #journalsList (change)="onJournalSelect(journalsList.value)">
                        <option></option>
                        <option *ngFor="let journal of journals" value="{{journal.id}}">{{journal.email}}</option>
                      </select>
                    </section>
                  </div>
                  <div class="row">
                    <section class="col col-6">
                      <h2>Settings Details</h2>
                    </section>
                  </div>
                  <div class="row">
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-pencil"></i>
                        <select class="form-control" name="languageList" #languagesList (change)="onLanguageSelect(languagesList.value)">
                          <option>Select Language</option>
                          <option *ngFor="let language of languages" value="{{language.id}}">{{language.lang_name}}</option>
                        </select>
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-info-circle"></i>
                        <input type="text" class="form-control" name="journalApplnName" placeholder="Application Name" formControlName="appln_name">
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-tag"></i>
                        <input type="text" class="form-control" name="journalStreamName" placeholder="Stream Name" formControlName="stream_name">
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-play-circle"></i>
                        <select class="form-control" name="allowRecording" #recording (change)="onRecordingSelect(recording.value)">
                          <option>Allow Recording?</option>
                          <option value="true">Allow</option>
                          <option value="false">Not Allow</option>
                        </select>
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-upload"></i>
                        <select class="form-control" name="allowUploading" #uploading (change)="onUploadingSelect(uploading.value)">
                          <option>Allow Uploading</option>
                          <option value="true">Allow</option>
                          <option value="false">Not Allow</option>
                        </select>
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-globe"></i>
                        <input type="text" class="form-control" name="journalFtpHost" placeholder="FTP Host" formControlName="ftp_host">
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-globe"></i>
                        <input type="text" class="form-control" name="journalFtpPort" placeholder="FTP Port (Enter 21)" formControlName="ftp_port">
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-globe"></i>
                        <input type="text" class="form-control" name="journalFtpuname" placeholder="FTP Username" formControlName="ftp_uname">
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-globe"></i>
                        <input type="text" class="form-control" name="journalFtpPwd" placeholder="FTP Password" formControlName="ftp_passwd">
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-globe"></i>
                        <input type="text" class="form-control" name="journalFtpPort" placeholder="FTP Folder" formControlName="ftp_path">
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="input">
                        <i class="icon-prepend fa fa-mobile"></i>
                        <input type="text" class="form-control" name="journalImei" placeholder="Mobile IMEI Number" formControlName="mac_id">
                      </label>
                    </section>
                  </div>
                  <div class="row">
                    <section class="col col-6">
                      <button type="submit" class="btn btn-sm btn-success" (click)="createNewJournalSetting()">Create</button>
                    </section>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>