<html>
    <head>
            <meta charset="UTF-8">
        <title>Notification from haappyapp</title>
        <meta name="description" content="Description of your site goes here">
        </head>
        <body>
            <div>
                <h1>Haappy<span>app</span></h1>
            </div>
            <div class="header-bottom">
                    <h2>Live streaming has been started<br>
                    sucessfully</h2>
                    </div>
                    <h1 class="title">Welcome To <span>Our App</span></h1>
                    <p><strong>Lorem Ipsum is simply dummy text</strong> of the printing
                    and typesetting industry. Lorem Ipsum has been the indusstandard dummy
                    text ever since the 1500s, when an unknown printer took a galley of
                    type and scrambleto make a type specimen book.</p>
                    <div class="row2">
                            <h2 class="subtitle">Streaming</h2>
                            <p><strong>Lorem Ipsum is simply dummy text</strong> of the printing
                            and typesetting industry. Lorem Ipsum has been the aaaa industry's
                            standard dummy text ever since the 1500s, ass as dwhen an unknasdown
                            printer took a galley of type and scrambled it to make a type
                            speascimen book. <br></p>
                    <div class="content-right">
                        <div class="contact">
                            <h2 class="sidebar2">Contact</h2>
                                <div class="contact-detail">
                                <p class="green"><strong>Lorem Ipsum is simply dummy text</strong></p>
                                    <p><strong>Adress :</strong> Lorem Ipsum has been the<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dummy
                                    text the 1500s,</p>
                                    <p><strong>E-mail :</strong> &nbsp;&nbsp;&nbsp;when an unknown printer
                                    took a</p>
                                    <p><strong>Phone :</strong> &nbsp;&nbsp;&nbsp;00-0000000000<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;000-0000-0000</p>
                                    </div>
                    <div class="footer">
                        <p>&copy; Copyright 2017. All Rights Reserved.</p>
                    </div>
        </body>
</html>