<div id="content">
  <div class="row">

  </div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <sa-widget>
          <header>
            <h2>Add Client</h2>
          </header>
          <div class="widget-body">
            <div class="widget-body no-padding">
              <form [formGroup]="newClientForm" class="smart-form">
                <fieldset>
                  <div class="row">
                    <section class="col col-6">
                      <label>Select Application</label>
                      <select class="form-control" name="userApplication" #userApplication (change)="onApplicationSelect(userApplication.value)">
                        <option></option>
                        <option *ngFor="let application of applications" value="{{application.id}},{{application.application_name}}">{{application.application_name}}</option>
                      </select>
                    </section>
                    <section *ngIf="activateShopSelector" class="col col-6">
                      <label>Select Shop</label>
                      <select class="form-control" name="userShops" #userShop (change)="onShopSelect(userShop.value)">
                        <option></option>
                        <option *ngFor="let shop of shops" value="{{shop.id}}">{{shop.seller_shop_name}}</option>
                      </select>
                    </section>
                    <section *ngIf="activateBroadcasterSelector" class="col col-6">
                      <label>Select Broadcaster</label>
                      <select class="form-control" name="userBroadcasters" #userBroadcaster (change)="onBroadcasterSelect(userBroadcaster.value)">
                        <option></option>
                        <option *ngFor="let broadcaster of broadcasters" value="{{broadcaster.id}}">{{broadcaster.broadcaster_channel_name}}</option>
                      </select>
                    </section>
                    <section class="col col-6">
                      <label>Select User Type</label>
                      <select class="form-control" name="usertypes" #usertypes (change)="onUserTypeSelect(usertypes.value)">
                        <option></option>
                        <option *ngFor="let userType of userTypes" value="{{userType}}">{{userType}}</option>
                      </select>
                    </section>
                    <section class="col col-6">
                      <label class="input">
                        <i class="icon-prepend fa fa-user"></i>
                        <input type="text" placeholder="Client Name" class="form-control" required name="userName" formControlName="userName">
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="input">
                        <i class="icon-prepend fa fa-user"></i>
                        <input type="text" placeholder="Client Short Name" class="form-control" required name="userShortName" formControlName="userShortName">
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="input">
                        <i class="icon-prepend fa fa-user"></i>
                        <input type="text" placeholder="User Name" class="form-control" required minlength="5" maxlength="20" required name="userName" formControlName="user_Name">
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="input"><i class="icon-prepend fa fa-lock"></i>
                        <input type="password" placeholder="Password" class="form-control" formControlName="userPasswd">
                      </label>
                    </section>
                    <!-- <section class="col col-6">
                      <label class="input"><i class="icon-prepend fa fa-lock"></i>                          
                        <input type="password" placeholder="Retype-Password" class="form-control"  required validateEqual="userPasswd" formControlName="userConfirmpasswd"> 
                      </label>
                    </section> -->
                    <section class="col col-6">
                      <label class="input"><i class="icon-prepend fa fa-envelope"></i>
                        <input type="email" placeholder="Email ID" class="form-control" required name="userEmail"  formControlName="userEmail">
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="input"><i class="icon-prepend fa fa-mobile"></i>
                        <input type="text" placeholder="Mobile" class="form-control" required name="userMobile" formControlName="userMobile">
                      </label>
                    </section>
                    <section class="col col-6">
                        <label>Select Country</label>
                        <select class="form-control" name="userCountry" #userCountry (change)="onCountrySelect(userCountry.value)">
                          <option></option>
                          <option *ngFor="let country of countries" value="{{country.id}}">{{country.country_name}}</option>
                          <!-- <option *ngFor="let application of applications" value="{{application.id}},{{application.application_name}}">{{application.application_name}}</option> -->
                          </select>
                      </section> 
                     <section class="col col-6">
                          <label>Select State</label>
                          <select class="form-control" name="userState" #userState (change)="onStateSelect(userState.value)">
                            <option></option>
                            <option *ngFor="let state of states" value="{{state.id}}">{{state.state_name}}</option>
                          </select>
                        </section>
                        <section class="col col-6">
                            <label>Select City</label>
                            <select class="form-control"  name="userCity"  #userCity (change)="onCitySelect(userCity.value)" formControlName="userCity">
                              <option></option>
                              <option *ngFor="let city of cities" value="{{city.city_name}}">{{city.city_name}}</option>
                            </select>
                          </section>
                    <section class="col col-6">
                      <label class="input"><i class="icon-prepend fa fa-map-marker"></i>
                        <input type="text" placeholder="ZIP" class="form-control" required name="zip" formControlName="userZip">
                      </label>
                    </section>
                    <section class="col col-6">
                      <label>Select Role</label>
                      <select class="form-control" name="userRoles" #userRole (change)="onUserRoleSelect(userRole.value)">
                        <option></option>
                        <option *ngFor="let role of applicationUsersRoles" value="{{role.id}}">{{role.role_name}}</option>
                      </select>
                    </section>
                  </div>
                  <button type="submit" class="btn btn-success"  (click)="registerUser()">Register User</button>
                </fieldset>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>